.images {
  outline: 1px solid rgba(0,0,0,0.2);
  outline-offset: 10px;
  position: absolute;

  background-size: contain;

  background-repeat: no-repeat;

  &:after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.2)
  }
}

.muse-1 {
  z-index: -1;
  background-image: url('https://res.cloudinary.com/dt47helyp/image/upload/v1621268407/Portfolio/Desktop/muesi-1_-s_bklo5f.png');
  @include for-tablet-landscape-up {
    top: 17%;
    left: 45%;
    height: 380px;
    width: 700px;
  }
  @include for-tablet-portrait-down {
    top: 200px;
    right: 50px;
    height: 250px;
    width: 400px;
  }
}


.muse-2 {
  z-index: -2;

  background-image: url('https://res.cloudinary.com/dt47helyp/image/upload/v1621268412/Portfolio/Desktop/musei-2-s_wwq5ub.jpg');

  @include for-tablet-landscape-up {
    top: 50%;
    left: 10%;
    height: 320px;
    width: 650px;
  }
  @include for-tablet-portrait-down {
    top: 470px;
    left: 10px;
    height: 250px;
    width: 450px;
  }
}

.nodes-1 {
  z-index: -1;
  @include for-tablet-landscape-up {
    bottom: 80px;
    right: 5%;
    height: 300px;
    width: 500px;
  }
  @include for-tablet-portrait-down {
    bottom: 10%;
    right: 50px;
    height: 240px;
    width: 350px;
  }
}

.nodes-2 {
  z-index: -1;
  @include for-tablet-landscape-up {
    top: 25%;
    left: 6%;
    height: 320px;
    width: 670px;
  }
  @include for-tablet-portrait-down {
    top: 20%;
    left: 50px;
    height: 240px;
    width: 350px;
  }
}

.froala-1 {
  z-index: -1;
  @include for-tablet-landscape-up {
    top: 100px;
    right: 10%;
    height: 300px;
    width: 500px;
  }
  @include for-tablet-portrait-down {
    top: 180px;
    right: 50px;
    height: 240px;
    width: 350px;
  }
  background-image: url('https://res.cloudinary.com/dt47helyp/image/upload/v1621269710/Portfolio/Desktop/froala-1_pdb6m5.jpg');
}

.froala-2 {
  z-index: -1;
  @include for-tablet-landscape-up {
    top: 280px;
    left: 7%;
    height: 350px;
    width: 580px;
  }
  @include for-tablet-portrait-down {
    top: 440px;
    left: 2%;
    height: 200px;
    width: 350px;
  }
  background-image: url('https://res.cloudinary.com/dt47helyp/image/upload/v1621269710/Portfolio/Desktop/froala-2_bexfau.jpg');
}

.violeta-1 {
  z-index: -1;
  @include for-tablet-landscape-up {
    top: 200px;
    left: 7%;
    height: 370px;
    width: 700px;
  }
  @include for-tablet-portrait-down {
    top: 480px;
    left: 10px;
    height: 250px;
    width: 400px;
  }

  background-image: url('https://res.cloudinary.com/dt47helyp/image/upload/v1621270319/Portfolio/Desktop/violeta-s_z4tvqq.jpg');
}

.violeta-2 {
  z-index: -1;
  @include for-tablet-landscape-up {
    top: 100px;
    right: 100px;
    height: 170px;
    width: 300px;
  }
  @include for-tablet-portrait-down {
    top: 280px;
    left: 10px;
    height: 160px;
    width: 300px;
  }

  background-image: url('https://res.cloudinary.com/dt47helyp/image/upload/v1621270318/Portfolio/Desktop/violeta-2-s_jxxxh9.jpg');
}

.violeta-3 {
  z-index: -1;
  @include for-tablet-landscape-up {
    top: 400px;
    right: 150px;
    height: 280px;
    width: 500px;
  }
  @include for-tablet-portrait-down {
    top: 150px;
    right: 0;
    height: 180px;
    width: 380px;
  }

  background-image: url('https://res.cloudinary.com/dt47helyp/image/upload/v1621270319/Portfolio/Desktop/violeta-3-s_dmcuoh.jpg');

}



.froala-customizer-1 {
  z-index: -3;

  @include for-tablet-landscape-up {
    top: 25%;
    left: 15%;
    height: 200px;
    width: 350px;
  }
  @include for-tablet-portrait-down {
    top: 25%;
    left: 15%;
    height: 100px;
    width: 320px;
  }
  background-image: url("https://res.cloudinary.com/dt47helyp/image/upload/v1621644057/Portfolio/Desktop/Froala_Customizer_1_mtaldq.png");
}


.froala-customizer-2 {
  z-index: -1;

  @include for-tablet-landscape-up {
    bottom: 10%;
    left: 2%;
    height: 280px;
    width: 500px;
  }
  @include for-tablet-portrait-down {
    bottom: 5%;
    left: 0;
    height: 180px;
    width: 380px;
  }

  background-image: url("https://res.cloudinary.com/dt47helyp/image/upload/v1621644057/Portfolio/Desktop/Froala_Customizer_2_hmifxb.png");
}


.froala-customizer-3 {
  z-index: -2;

  @include for-tablet-landscape-up {
    top: 40%;
    right: 5%;
    height: 350px;
    width: 500px;
  }
  @include for-tablet-portrait-down {
    top: 40%;
    right: 5%;
    height: 180px;
    width: 380px;
  }

  background-image: url("https://res.cloudinary.com/dt47helyp/image/upload/v1621644057/Portfolio/Desktop/Froala_customizer_3_vspu73.png");
}


.jujubobo-1 {
  z-index: -2;

  @include for-tablet-landscape-up {
    top: 40%;
    right: 5%;
    height: 270px;
    width: 500px;
  }
  @include for-tablet-portrait-down {
    top: 30%;
    right: 0;
    height: 180px;
    width: 380px;
  }

  background-image: url("https://res.cloudinary.com/dt47helyp/image/upload/v1621646585/Portfolio/Desktop/jujubobo_2-s_ewkzda.png");
}

.jujubobo-2 {
  z-index: -1;
  @include for-tablet-landscape-up {
    top: 25%;
    left: 6%;
    height: 320px;
    width: 670px;
  }
  @include for-tablet-portrait-down {
    top: 60%;
    left: 50px;
    height: 200px;
    width: 310px;
  }
}


.wizard-1 {
  z-index: -1;

  @include for-tablet-landscape-up {
    top: 40%;
    right: 2%;
    height: 330px;
    width: 650px;
  }
  @include for-tablet-portrait-down {
    top: 150px;
    right: 0;
    height: 180px;
    width: 380px;
  }

  background-image: url("https://res.cloudinary.com/dt47helyp/image/upload/v1621646068/Portfolio/Desktop/Froala_Wizard_1_w4r07h.png");
}

.wizard-2 {
  z-index: -2;

  @include for-tablet-landscape-up {
    top: 10%;
    left: 40%;
    height: 320px;
    width: 350px;
  }
  @include for-tablet-portrait-down {
    bottom: 70px;
    right: 10%;
    height: 180px;
    width: 380px;
  }

  background-image: url("https://res.cloudinary.com/dt47helyp/image/upload/v1621646068/Portfolio/Desktop/Froala_Wizard_2_qrtomj.png");
}

.wizard-3 {

  z-index: -2;

  @include for-tablet-landscape-up {
    top: 50%;
    left: 7%;
    height: 300px;
    width: 400px;
  }
  @include for-tablet-portrait-down {
    top: 70px;
    left: 10%;
    height: 180px;
    width: 380px;
  }
}
