@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400&display=swap');



#content-box {
  height: 100vh;
  width: 100vw;
  font-family: 'Roboto Mono', monospace;
  & h1 {
    @include for-tablet-landscape-up {
      font-size: 22px;
    }
    @include for-tablet-portrait-down {
      font-size: 22px;
    }
    font-weight: 300;

  }
  & h2 {
    @include for-tablet-landscape-up {
      font-size: 16px;
    }
    @include for-tablet-portrait-down {
      font-size: 14px;
    }
    font-weight: 200;
    line-height: 10px;
    width: 360px;
    display: flex;
    justify-content: space-between;
  }
}

#title-box {
  margin: 0;
  height: 300px;
  width: 400px;
  text-align: left;
  padding: 24px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  & a {
    text-decoration: underline;
    color: black;
  }
  & h1 {
    padding-bottom: 8px;
  }
  & > h2 {
    background-color: rgba(255,255,255,1);
  }

  pointer-events: none;

  a {
    pointer-events: auto;
  }
}

.title-text-container {
  background-color: rgba(255,255,255,0.8);
  padding-bottom: 0.2rem;
}

#links-box {
  width: 100vw;
  max-height: 100vh;
  // padding-top: 50vh;
  position: absolute;
  top:0;
  left:0;
  display: flex;
  justify-content: center;
  overflow-y: scroll;
  // pointer-events: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.word-underline {
  height: 1px;
  background-color: black;
  width: 0%;
  transition: 0.4s;
  transition-delay: 0.3s, 0s;
  transition-property: width, background-color;
  margin-bottom: 0.5rem;
}

.arrow-container {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 16px;
  width: 17px;
}

.arrow-container > div {
  height: 0px;
  width: 30px;
  overflow: hidden;
  transition: 0.3s;
  transition-delay: 0s, 0s;
  transition-property: height, background-color;
}

.word-underline-arrow {
  transform: rotate(45deg);
  height: 15px;
  width: 15px;
  border-right: 1px solid black;
  border-top: 1px solid black;
}

#links {
  // overflow: hidden;
  margin-top: 50vh;
  padding: 0;
  list-style-type:none;
  // pointer-events: auto;
  // background-color: rgba(255,255,255,0.8);

  @include for-tablet-landscape-up {
    width: 500px;
  }
  @include for-tablet-portrait-down {
    width: 90%;
  }
  & li {
    background-color: rgba(255,255,255,0.8);
    transition: 0.2s;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

  }
  & li > a {
    text-decoration: none;
    color: black;
    position: relative;
  }

  & li > a:hover .word-underline {
    width: 100%;
    // transition-delay: 0s;
    transition-delay: 0s, 0s;
    transition-property: width, background-color;
  }

  & li > a:hover .arrow-container > div {
    height: 16px;
    transition-delay: 0.25s, 0s;
    transition-property: height, background-color;
  }

  & li > a:focus .word-underline {
    width: 100%;
    transition-delay: 0s, 0s;
    transition-property: height, background-color;
  }

  & li > a:focus .arrow-container > div {
    height: 16px;
    transition-delay: 0.25s, 0s;
    transition-property: height, background-color;
  }

  & .h2-right {
    line-height: 18px;
    text-align: right;
    text-decoration: underline;
    width: 40%;
  }
  & .h2-left {
    width: max-content;
    text-align: left;
    padding-right: 1.2rem;
    margin-bottom: 0.7rem;
  }

  & li:hover {
    background-color: rgba(80,80,250,0.7);
    & > a {
      color: white;
    }

    & .word-underline {
      background-color: white;
    }

    & .word-underline-arrow {
      border-color: white;
    }

    & h2 {
      color: white;
      font-weight: 400;
    }
  }
}

